/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: start;
    }

    .container {
        padding: 1rem;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes >ul {
            display: flex;
            flex-wrap: wrap;
        }

            li {
                flex-basis: calc(100% / 3);
            }

    .social-networks >.btn {
        padding: 10px 3.8rem;
    }

    .ads {
        display: block;
    }

    .clearfix >img {
        float: left;
        margin: 0 2rem;
    }
}